@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Itim&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Tiny5&display=swap');
:root,
:root[data-bs-theme="light"] {
  --bs-body-color: #4361ee;
  --bs-body-bg: #fffff3;
  --bs-border-color: #dee2e6;
  --bs-letra-font-family: "Roboto Mono", monospace;
}

:root[data-bs-theme="dark"] {
    --bs-body-color: #ced4da;
    --bs-body-color: #90e0ef;
    --bs-body-bg: #000814;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(206, 212, 218, 0.75);
    --bs-secondary-color-rgb: 206, 212, 218;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(206, 212, 218, 0.5);
    --bs-tertiary-color-rgb: 206, 212, 218;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #eca575;
    --bs-secondary-text-emphasis: #959ea7;
    --bs-success-text-emphasis: #9dd49d;
    --bs-info-text-emphasis: #9dd9eb;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #e89895;
    --bs-light-text-emphasis: #ebebeb;
    --bs-dark-text-emphasis: #ced4da;
    --bs-primary-bg-subtle: #2d1505;
    --bs-secondary-bg-subtle: #101316;
    --bs-success-bg-subtle: #122512;
    --bs-info-bg-subtle: #12262c;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2b1110;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #863f0f;
    --bs-secondary-border-subtle: #2f3841;
    --bs-success-border-subtle: #376e37;
    --bs-info-border-subtle: #377385;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #82322f;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #eca575;
    --bs-link-hover-color: #f0b791;
    --bs-link-color-rgb: 236, 165, 117;
    --bs-link-hover-color-rgb: 240, 183, 145;
    --bs-code-color: #f18bba;
    --bs-highlight-color: #ced4da;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #9dd49d;
    --bs-form-valid-border-color: #9dd49d;
    --bs-form-invalid-color: #e89895;
    --bs-form-invalid-border-color: #e89895;
    --bs-letra-font-family: "Itim", cursive;
    --bs-body-font-weight:400;
    --bs-body-font-style:normal;
}

:root[data-bs-theme="gamer"]{
  --bs-body-color: #38b000;
  --bs-body-bg: #000814;
  --bs-border-color: #dee2e6;
  --bs-letra-font-family:"Tiny5", sans-serif;
  --bs-body-font-weight:700;
  --bs-body-font-style:normal;
}
*{
  scroll-behavior: smooth;
  font-family: var(--bs-letra-font-family);
  font-weight: var(--bs-body-font-weight);
  font-style:var(--bs-body-font-style);
}
.cartaproducto {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 1rem;
  }

  .cartaproducto:hover .product-overlay {
    opacity: 1;
  }

  .product-image {
    height: 200px;
    object-fit: cover;
  }

  .image-product {
    height: 300px;
    width: 100%;
    object-fit: contain;
    background-color: var(--bs-body-bg);
    padding: 10px;
  } 

.cta {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--bs-body-color);
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
  color: var(--bs-body-color);
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  color: var(--bs-body-color);
}

.cta:hover svg {
  transform: translateX(0);
  color: var(--bs-body-color);
}

.cta:active svg {
  transform: scale(0.9);
  color: var(--bs-body-color);
}

.hover-underline-animation {
  position: relative;
  padding-bottom: 20px;
  color: var(--bs-body-color);
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--bs-body-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  color: var(--bs-body-color);
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: var(--bs-body-color);
  color: var(--bs-body-color);
}

.category-card {
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
  padding: 1.5rem;
}

.cta svg{
color: var(--bs-body-color);
  fill: currentColor;
}