header{
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
}
.wrapheader h1 {
    margin: 30px;
}


.sectiondestacados h1{
    text-align: center;
    margin: 50px;
}

.wrappermain h1 {
    text-align: start;
    margin: 50px;
}

.botones {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.botones button {
    background-color: transparent;
    padding: 10px 20px;
    border-color: transparent;
    color: #000000;
}